# Testing
test.ts
.env

# VsCode
.vscode
# Logs
*.log

# Outputs
dist/
doc/
types/

# NPM
node_modules/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
docs/*
